@keyframes treeSway {
  0%,
  100% {
    transform: rotate(-0.9deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

body {
  background-color: #6a89cc;
}

.page-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  .apple {
    display: block;
    position: absolute;
    z-index: 999;
  }
  .hidden-apple {
    display: none;
  }
  .tree-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    .tree {
    }
    .shaking-tree {
      animation: treeSway 0.7s ease-in-out forwards infinite;
      transform-origin: bottom center;
    }
  }
  .basket-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 40vh;
    align-items: end;
    right: 25px;
    .basket-counter {
      padding: 10px 25px;
      background-color: #ffffff;
      border-radius: 5px;
    }
    .basket-button {
      position: absolute;
      top: 10em;
      left: 5em;
      outline: none;
      text-decoration: none;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      height: 4em;
      width: 12em;
      opacity: 1;
      background-color: #ffffff;
      border: 1px solid rgba(22, 76, 167, 0.6);
      span {
        color: rgba(22, 76, 167, 1);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.7px;
      }
      &:hover {
        animation: rotate 0.7s ease-in-out both;
        span {
          animation: storm 0.7s ease-in-out both;
          animation-delay: 0.06s;
        }
      }
    }
    .basket-icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
